<div style="background-color: #ffa178">
    <strong>Name: </strong>{{ name }}<br />
    <strong>Contact: </strong>{{ contact }}<br />
    <strong>Message: </strong>
    <p>
        {{ message }}
    </p>
</div>