{% extends 'layout.html.twig' %}
{% block body %}
<strong>{{ 'Edit Post'|trans({}, 'post') }}: "{{ post.getName() }}"</strong>
    <div class="col-4">
        {{ form(PostForm) }}
    </div>
{% endblock body %}